/* Add your custom extension styling here */
.label-1 {
    font-weight: normal;
    color: white;
    background-color: transparent;
    border-radius: 5px;
}

.label-2 {
    font-weight: normal;
    color: white;
    background-color: transparent;
    border-radius: 5px;
}
